.barchart-container {

}
.barchart-title {

}
.barchart-title h2 {

}
.barchart-title p {

}
.barchart-content {
  height: 300px; overflow: hidden; margin: 3rem 0 0 0;
}
.barchart-y-axis {
  width: 50px; height: 300px; position: absolute; top: 0px; left: 0px;
}
.barchart-y-axis p {
  width: 35px; position: absolute;
}
.barchart-top-label {
  top: 0;
}
.barchart-bottom-label {
  bottom: 50px;
}
.barchart-x-axis {
  height: 50px; width: 100%; position: absolute; bottom: 0; left: 0;
}
.barchart-x-axis p {
  position: absolute; top: 0; width: 100px; text-align: center;
}
.barchart-area {
  height: 300px;
  width: calc( 100% - 30px );
  position: absolute;
  top: 0;
  left: 30px;
}
.barchart-area .barchart-bar {
  position: absolute;
  bottom: 0;
  width: 12%;
  height: 0px;
}
.barchart-area .barchart-bar p {
  text-align: center;
  display: none;
}

/**
 * Machine Learning
 */
.gear-orange{fill:#E35D36;}
	.st1{fill:#E6E7E8;}
	.st2{opacity:0.25;}
	.st3{fill:url(#SVGID_1_);}
	.st4{fill:url(#SVGID_2_);}
	.st5{fill:url(#SVGID_3_);}
	.st6{fill:#939598;}
	.st7{fill-rule:evenodd;clip-rule:evenodd;}
	.st8{opacity:0.8;}
	.st9{fill:#6090BE;}
	.gear-white{fill:#FFFFFF;}
	.gear-green{fill:#33AE93;}
	.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st13{fill:#D1D3D4;}
	.st14{opacity:0.1;fill:#FFFFFF;}
	.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#33AE93;opacity: }
	.st16{fill-rule:evenodd;clip-rule:evenodd;fill:#6CC497;}
	.st17{opacity:0.5;fill:#E6E7E8;}
