* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.hidden {
    display: none;
}
.screen-reader-text {
    /* https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/ */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
img {
  display: block;
}
body {
  transition: background 0.5s ease;
  background: #44a8d8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1.6;
  color: white;
  overflow-x: hidden;
  padding: 0 3em;
}
section > .row {
  max-width: 1200px;
  margin: 0 auto;
}
.color-change {
    margin-top: 20em;
    margin-bottom: 20em;
}

.section-aside {
    /*top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0px;
    display: block;
    position: relative;
    box-sizing: content-box;
    min-height: 614px;
    height: 614px;
    padding-top: 32.8125px;
    padding-bottom: 5336.59px;*/
}
.stick-it {
    position: fixed;
    top: 4rem;
    width: 33.333333333%;
    max-width: 360px;
}
.stuck {
    position: absolute;
}
.bg-home {
    background: #44a8d8;
}
.bg-coding {
  background: #91a8d0;
}
.bg-design {
  background: lightskyblue;
}
.bg-life {
  background: #7ADFBB;
}
.bg-newyear {
  background: #2eb6b6;
}

strong {
    font-weight: 500;
}

/**
 * D3 Category20 Colors
 */
.d3-cat1 { background: #1f77b4; color: white; }
.d3-cat2 { background: #aec7d8; color: black; }
.d3-cat3 { background: #ff7f0e; color: white; }
.d3-cat4 { background: #ffbb78; color: black; }
.d3-cat5 { background: #2ca02c; color: white; }
.d3-cat6 { background: #98df8a; color: black; }
.d3-cat7 { background: #d62728; color: white; }
.d3-cat8 { background: #ff9896; color: black; }
.d3-cat9 { background: #9467bd; color: white; }
.d3-cat10 { background: #c5b0d5; color: black; }
.d3-cat11 { background: #8c564b; color: white; }
.d3-cat12 { background: #c49c94; color: black; }
.d3-cat13 { background: #e377c2; color: white; }
.d3-cat14 { background: #f7b6d2; color: black; }
.d3-cat15 { background: #7f7f7f; color: white; }
.d3-cat16 { background: #c7c7c7; color: black; }
.d3-cat17 { background: #bcbd22; color: white; }
.d3-cat18 { background: #dbdb8d; color: black; }
.d3-cat19 { background: #17becf; color: white; }
.d3-cat20 { background: #9edae5; color: black; }
.main-goal {
    font-style: oblique;
    font-weight: 500;
}
.main-goal:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    /*box-shadow: 0px 3px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 3px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 3px 0px rgba(255,255,255,0.5);
    -o-box-shadow: 0px 3px 0px rgba(255,255,255,0.5);
    border-bottom: 1px solid transparent;*/
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}
article p,
aside p {
  margin-bottom: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
/*a::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid white;
}*/
code {
    background: rgba(30,30,30,0.1);
    padding: 0px 6px;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.9rem;
    opacity: 0.8;
}
article ul ul {
    margin-left: 2rem;
    margin-top: 1rem;
}
.row {
  display: flex;
  align-content: space-between;
}
.row .row {
  margin: 0 -1.5rem;
}
.row .row.row-spacing {
    margin-bottom: 6rem;
}
.totals .row {
  justify-content: flex-end;
  margin-top: 0;
}
.spaced-image-row,
.spaced-image-description {
  padding: 1rem 0;
}

.col-2 {
  flex: 50%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.col-3 {
  flex: 33.33333333%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.col-4 {
  flex: 25%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.col-5 {
    flex: 20%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.col-2 figure,
.col-3 figure,
.col-4 figure,
.col-5 figure {
  width: 100%;
}
figure img,
.col-2 figure img,
.col-3 figure img,
.col-4 figure img,
.col-5 figure img {
  max-width: 100%;
}
figure img {
    margin-bottom: 1em;
}
.section-aside {
  flex: 30%;
  max-width: 360px;
}
.aside-content {
    padding-top: 0;
}
.section-content {
  flex: 70%;
  padding-left: 3em;
  max-width: 840px;
}

@media all and (max-width: 1000px) {
    section > .row {
        display: block;
    }
    .section-aside,
    .section-content {
        flex: none;
        width: 100%;
        max-width: 100%;
    }
    .section-aside {
        margin-bottom: 6em;
    }
    .section-content {
        padding: 0;
    }
}
@media all and (max-width: 600px) {
    .row {
        display: block;
    }
    article,
    .col-2, .col-3, .col-4, .col-5 {
        margin-bottom: 4em;
    }
    .col-3 {
        flex: none;
        width: 100%;
    }
}
.new-logos {
    margin: 10em -1.5em 14em!important;
}
.new-logos img {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.new-logos img:hover {
    opacity: 1;
}
.book {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}

.favorite-coding li {
    list-style: none;
    padding: 2rem 3rem;
    opacity: 0.8;
}

header,
footer {
  text-align: center;
  min-height: 100vh;
}
header:after,
footer:after {
    /* https://css-tricks.com/snippets/css/transparent-background-images/ */
    background: url( '../assets/images/korea-bg.jpg' );
    background-size: cover;
    background-attachment: fixed;
    content: "";
    margin: 0 -3em;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
header .intro,
footer .outro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
header p {
    margin-bottom: 0;
    text-align: left;
}
p.haiku {
    font-style: oblique;
    text-align: center;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX( -50% );
}
header img {
    display: inline;
    margin: 2em;
    border-radius: 50%;
    width: 160px;
    border: 10px solid rgba(255,255,255,0.2);
}
.page-title {
  font-size: 4rem;
}
.page-subtitle {
  font-size: 1.6rem;
  font-weight: 100;
}
/*
 * -----------------------------------------
 * Navigation
 * =========================================
 */
.main-navigation {
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  /*top: -50px;*/
  background: white;
  color: #91a8d0;
  font-weight: 100;
  display: none;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  padding: 12px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.find-me {
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 10;
  cursor: pointer;
}
.find-me,
.find-me ul {
    list-style: none;
}
.find-me li {
    padding: 0.75em 0.75em 0.3em;
    /*background: rgba(255,255,255,0.5);*/
    background: white;
    color: #39c;
}
.find-me a {
    text-decoration: none;
    border: none;
    color: #39c;
}
.find-me a:hover,
.find-me a:focus,
.find-me a:active {
    color: black;
}
.find-me .icon {
    font-size: 1.5rem;
}
.find-me li.open-social {
    background: rgba(255,255,255,0.5);
}
.find-me li.open-social:hover,
.find-me li.open-social:active,
.find-me li.open-social:focus,
.find-me li.open-social.active {
    background: rgba( 12, 12, 125, 0.5 );
    color: white;
}
.social-menu {
    transition: all 0.5s ease;
    right: -50px;
}
.social-menu.active {
    right: 0;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

#life .icon {
    display: block;
    fill: black;
    font-size: 3rem;
}
/*
 * -----------------------------------------
 * Sections
 * =========================================
 */
.section-title {
  margin-top: -1.75rem;
  margin-bottom: 0.5rem;
}
.section-subtitle {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
}
main article {
  margin-bottom: 6rem;
}
.article-title {
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  padding-bottom: 5px;
}
.article-subtitle {
  font-size: 1.5rem;
  color: black;
  font-weight: 100;
  margin-bottom: 1rem;
}
.article-description {
  color: black;
  font-size: 0.95rem;
}
.article-description a {
  color: black;
  border-color: black;
}
.large-number {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: -15px;
  margin-bottom: -5px;
}
.large-number span {
  font-size: 1.2rem;
}
.large-number .minutes {
    letter-spacing: 1.5px;
    padding-left: 3px;
}
.fa {
  font-size: 150%;
}
.fa-2x {
  font-size: 250%;
}
.fa-3x {
  font-size: 350%;
}
.fa:hover,
.fa:active,
.fa:focus,
.fa.active {
  cursor: pointer;
  color: black;
}
.lynda .fa-stack-2x {
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    font-size: 200%;
    color: #008bcb;
}
.lynda .fa-stack-1x {
    font-size: 100%;
    color: white;
}
.lynda .view-cert {
    border-bottom: none;
    position: absolute;
    right: -0.5em;
    top: 0.25em;
}
.huge-number {
  font-size: 5rem;
  font-weight: 700;
  margin: -30px 0 -10px;
}
.huge-number .dashicons {
  font-size: 4rem;
  display: inline-block;
  margin: 2rem;
  /*padding: 5px;
  border: 3px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;*/
}
.total-time .huge-number {
    margin: 0;
    line-height: 1;
}
.total-time .huge-number span {
    font-size: 3.6rem;
}
.fa-2x {
  margin-bottom: 0.5rem;
}
.course-info {
  visibility: hidden;
  background: rgba( 255,255,255,0.3 );
  border-radius: 10px;
  padding: 1em 2em;
  margin-bottom: 2em;
  margin-top: 1em;
  color: black;
}
.course-info p {
  margin-bottom: 0;
  font-style: oblique;
  display: none;
  padding-right: 3em;
}
.course-info a {
    font-weight: 100;
    color: black;
    border-color: black;
}
.course-length {
    color: rgba(255,255,255,0.75);
    font-weight: 100;
}

.certifications .row {
  text-align: center;
}
.certifications .row a {
  border: none;
}
.certifications strong {
  font-size: 1.2em;
}
.lynda-complete {
  background: white;
  padding: 0rem;
  margin: 1rem auto;
  border-radius: 50%;
}

a.svg-demo {
    border-bottom: 0;
}
.svg-demo {
    max-width: 100%;
    max-height: 300px;
}

.lynda-imgs {
    display: flex;
    margin-left: 2em;
    margin-right: 1em;
}
.lynda-imgs li {
    list-style: none;
    flex: 16.666666667%;
    padding: 0 1em;
}
.lynda-imgs img {
    max-width: 100%;
    border-radius: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}


.sort-courses {
  list-style: none;
  /*text-align: center;*/
}
.sort-courses li {
  background: #008bcb;
  font-size: 0.8em;
  padding: 3px 10px;
  border-radius: 10px;
  margin: 0 0.1rem 0.5rem;
  display: inline-block;
  cursor: pointer;
}
.sort-courses li.active {
    background: #0050b0;
}

.github-calendar-full {
  padding: 0 0 2rem;
  max-width: 100%;
}
.github-calendar {
  position: absolute;
  top: 2.5rem;
}


.book-categories .article-subtitle {
    margin-top: 3rem;
}

.book-images,
.site-images {
  margin: 0rem -3rem 3rem;
}
.site-images.wp {
    margin-top: 0rem;
}
.site-images.non-wp {
    margin-top: -6rem;
}
.book-images article,
.site-images article {
  display: flex;
  flex-wrap: wrap;
}
.book-images figure {
  flex: 10%;
}
.book-images img,
.site-images img {
  max-width: 100%;
  max-height: 100%;
}
.book-images img:hover,
.site-images img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.site-images figure {
    flex: 25%;
}
/*.site-images.wp figure {
    flex: 33.3333333%;
}*/
.book-images figure img,
.site-images figure img {
    margin-bottom: 0;
}

.site-images figure span {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(145,168,208,0.8);
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: none;
}
.site-images figure:hover span {
    display: block;
}
.site-images figure span a {
    text-align: center;
}
.site-images .repo-link {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX( -50% );
}
.site-images .site-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: calc( 100% - 6rem );
}

@media all and (max-width: 1000px) {
    .book-images,
    .site-images {
        margin-top: -16em;
    }
}
/*
 * -----------------------------------------
 * Charts
 * =========================================
 */

 path.link {
     stroke: white;
 }
 g.node circle {
     fill: white;
 }
 g.node text {
     font-weight: 100;
     font-size: 0.85rem;
 }
.x-axis .tick line,
.x-sub-axis path {
    display: none;
    stroke: none;
}

/* Pie Chart */
.piechart {
  max-width: 100%;
}
.common-chart {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: 50%;
}
.chart-border {
  border: 3px solid white; top: -3px; left: -3px; width: 306px; height: 306px;
}
.chart-base {
  background: transparent;
}
.chart-center {
  background: #39c;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  top: 75px;
  left: 75px;
  z-index: 2;
}
#chartlabel,
.chart-label {
  background: white;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: black;
  position: absolute;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  font-size: 0.95rem;
}
.slice_1_label { top: 120px; right: 0px; }
.slice_2_label { top: 240px; left: 0px; }
.slice_3_label { top: 140px; left: -60px; }
.slice_4_label { top: 50px; left: -40px; }
.slice_5_label { top: 0px; left: 40px; }
.chart-slice { clip: rect(0px, 150px, 300px, 0px); }
.slice_1_c {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}
.slice_1_w {
  background-color: rgba( 0,0,0, 1);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.slice_2_c {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.slice_2_w {
  background-color: rgba( 0,0,0, 0.75);
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
}
.slice_3_c {
  -webkit-transform: rotate(-66.66666667deg);
  -moz-transform: rotate(-66.66666667deg);
  -o-transform: rotate(-66.66666667deg);
  -ms-transform: rotate(-66.66666667deg);
  transform: rotate(-66.66666667deg);
}
.slice_3_w {
  background-color: rgba( 0,0,0,.5);
  -webkit-transform: rotate(126.66666667deg);
  -moz-transform: rotate(126.66666667deg);
  -o-transform: rotate(126.66666667deg);
  -ms-transform: rotate(126.66666667deg);
  transform: rotate(126.66666667deg);
}
.slice_4_c {
  -webkit-transform: rotate(-26.66666667deg);
  -moz-transform: rotate(-26.66666667deg);
  -o-transform: rotate(-26.66666667deg);
  -ms-transform: rotate(-26.66666667deg);
  transform: rotate(-26.66666667deg);
}
.slice_4_w {
  background-color: rgba( 0,0,0,.25);
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}
.slice_5_c {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.slice_5_w {
  background-color: rgba( 255,255,255,1);
  -webkit-transform: rotate(153.33333333deg);
  -moz-transform: rotate(153.33333333deg);
  -o-transform: rotate(153.33333333deg);
  -ms-transform: rotate(153.33333333deg);
  transform: rotate(153.33333333deg);
}

.level {
  fill: black;
  font-weight: 100;
  transform: translateX(0.5em);
}
.radar g:nth-child(11) .circle {
  stroke: black;
  stroke-width: 3px;
}
.radar g:nth-child(11) text {
  fill: #555;
}

#design figure img {
    margin: 1rem 0;
}

footer.color-change {
    margin-bottom: 0;
}
